#cardStyles{
    width:100px;
    margin: 1rem ;
    background-color: #c1fabc;
    border: none;
    font-size: 1.5rem;
    text-align: center;

}

.pricetext{
    font-size: 1.6rem;
}

a:link{
    color: black;
    text-decoration: none;
}
.card{
    border: none;
}
.card-title{

}

#ProductThumb{



}

.cardRow{
    /*margin: auto 20rem;*/
    width: 75%;
    margin:  5rem auto;
    text-align: left;

}
.hrs{
    color: #ffffff;
    width: 15%;
    border-top: 5px solid white;
}

.ProductSetTitle{
    text-align: left;
}