#cardStyles{
    width:100px;
    margin: 1rem ;
    background-color: #c1fabc;
    border: none;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
}

#cardStyles:hover{
    transform:scale(1.05);
}

#ProductThumb{

    width: 250px;
    height: 250px;
}
.productForms{


    display:inline ;


}
/*Stack overflow mixed with past experience with link styling indicated that pseudo classes would be a good idea here*/
#cardStyles:hover #productBtn{
    display: inline-block;
}

#productBtn:active{
    background-color:#8b948e ;
}

#productBtn:hover{
    background-color: #b1c4b7;
}

 #productBtn {
    display: none;
    position: absolute;
     font-size: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: none;
    color: white;
    /*font-size: 20px;*/
    padding: 2% 5%;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
}

.pricetext{
    font-size: 1.6rem;
}

a:link{
    color: black;
    text-decoration: none;
}
.card{
    border: none;
}
.card-title{

}

.cardRow{
    /*margin: auto 20rem;*/
    width: 75%;
    margin:  5rem auto;
    text-align: left;
}

.hrs{
    color: #ffffff;
    width: 15%;
    border-top: 5px solid white;
}

.ProductSetTitle{
    text-align: left;
}