body{background-color: #c1fabc;
    overflow-x: hidden;
}
.sacramento-regular {
    font-family: "Sacramento", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
}

.sacramento-Bigger {
    font-family: "Sacramento", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 55px;
    /*font-size: 320%;*/
    color: red;
}

.yellowtail-regular {
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-style: normal;
}

.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}

.nav-item{
    margin:0 10px 0 10px;
}

.Titles{
    margin: auto 2%;

    border-top: 10px white;
    /*border: 5px white;*/
}

hr{
    color: #ffffff;
    width: 10%;
    font-weight: bold;
}

#accountButton{

    float: right;
    color: black;

}
#MyAccountBtn{

    text-align: center;

}
.signinBtns{

   margin-right: 5%;
    line-height: 80%;
    vertical-align: bottom
}
a:link{
    color:green;
}

a:hover{
    color: darkgreen;
}

#signupbtn{
    padding: 100px;
}

#signupbtn:link{
    color:green;
}

#logsignbox{

    margin: 5%;
    text-align: center;
    font-size: 5%;

}
#WelcomeText{

font-size: 140% ;
    margin: 5%;

}
#nameText{
    font-size: 140%;
    line-height: 0
}
#nameText:hover{

    color:DarkGreen;

}

.shopStyle{

    width: 80%;

    margin: auto;

}