/*Container 1 layout*/
.product-container {
    overflow: hidden;
}

/*Bellas styles for product page */
#ProductPage{

    margin: 5%;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


#ProductPageImg{
    width: 18em;
    height: 18em;
}
.quantitybtns{

    width: 2em;
    text-align: center;
    font-weight: bold;
    margin: 0;

}

.addminus{
    background-color: slategray;
    font-size: 1.2em;
    padding: 0;
}

#CartBtn{

    margin-left: 2em;
    background-color: orangered;
    font-weight: bold;

}
.Productlabel{
    color: darkgreen;
    font-size: larger;
    font-weight: bold;
}

#sizingDiv{
    margin: 5% 15% 0 0 ;
}

#imageSection{
    width: 30%;
    float: left;
    text-align: center;
    flex: 1;
}
#NameSection{
    width: 50%;
    float: right;
    flex: 1;
}

/*.inline{*/
/*    display: inline;*/
/*}*/



.product-image {
    float: left;
    margin-right: 20px;
    width: 300px;
    height: 300px;
}

.product-info {
    margin-left: 330px;
}

.product-info p {
    margin-top: 0;
    margin-bottom: 10px;
}


/*Container 2 layout*/
  .product-container2 {
   overflow: hidden;
}

.product-info2 {
    float: left;
    align-items: center;
    margin-left: 300px;
}

.product-image2{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 400px;
    height: 400px;
}

h1{
    color: #0a3622;
    font-family: "Berlin Sans FB";
    font-size: 35px;
}

.add{
    background-color: #fd7e14;
}