
h3 {
    color: #0f5132;
    font-family: "Sacramento", cursive;
    font-size: 55px;
}

h4{
    color: #842029;
    font-family: "Sacramento", cursive;
    font-size: 55px;
}

h6{
    color: #6ea8fe;
    font-family: "Sacramento", cursive;
    font-size: 55px;
}




.column {
    float: left;
    width: 15%;
    padding: 5px;
}

.container {
    position: relative;
    text-align: center;
}



.container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.text {
    text-align: center;
}




.product-image {
    float: left;
    margin-right: 20px;
    width: 500px;
    height: 500px;
}


.cardRow {
    display: flex; /*flexbox created to allign images and texts while creating a user friendly layout*/
    justify-content: center;
    align-items: center;
    height: 25vh;
    background-size: cover;
    text-align: center;
    padding: 50px 20px;
    overflow: hidden;
}

.season-greeting h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
    color: darkcyan; /* A color that matches all seasons themes */
    text-shadow: 2px 2px 2px #000000;
    margin: 0; /* need flexbox to centre the text */
    display: inline-block;
    white-space: nowrap;
    animation: slideIn 6s linear infinite; /*speed of the text while being in an infinite loop*/
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);/*starts on the left*/
    }
    to {
        transform: translateX(100%);/*ends on the right*/
    }
}

